<div class="container-full-width">
  <div class="row sm-gutters">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="crypt-dash-withdraw mt-3 d-block" id="bitcoin">
        <!--<div class="crypt-withdraw-heading">-->
          <!--<div class="row">-->
            <!--<div class="col-md-3">-->
              <!--<p><b>1 BTC</b></p>-->
              <!--<p class="crypt-up"><b>$3,483.59 USD (0.28%) </b></p>-->
            <!--</div>-->
            <!--<div class="col-md-5">-->
              <!--<i class="pe-7s-lock icon-big"></i>-->
              <!--<p><b>Locked: $ 0.00</b></p>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<p><b>Total:</b></p>-->
              <!--<p class="crypt-up"><b> $ 23454.00</b></p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <div style="margin-top: 75px" class="crypt-withdraw-body bg-white">
          <div class="row">
            <div class="col-md-2">
              <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a
                  class="nav-link active"
                  id="v-pills-zilliqua-btc-deposit-tab"
                  data-toggle="pill"
                  href="#v-pills-zilliqua-btc-deposit"
                  role="tab"
                  aria-controls="v-pills-zilliqua-btc-deposit"
                  aria-selected="true">
                  <i class="pe-7s-bottom-arrow"></i> Deposit
                </a>

                <a
                  class="nav-link"
                  id="v-pills-zilliqua-btc-withdrawl-tab"
                  data-toggle="pill"
                  href="#v-pills-zilliqua-btc-withdrawl"
                  role="tab"
                  aria-controls="v-pills-zilliqua-btc-withdrawl"
                  aria-selected="false">
                  <i class="pe-7s-up-arrow"></i> Withdraw
                </a>

                <a
                  class="nav-link"
                  id="v-pills-zilliqua-btc-history-tab"
                  data-toggle="pill"
                  href="#v-pills-zilliqua-btc-history"
                  role="tab"
                  aria-controls="v-pills-zilliqua-btc-history"
                  aria-selected="false">
                  <i class="pe-7s-clock"></i> History
                </a>

              </div>
            </div>
            <div class="col-md-10">
              <div class="tab-content" id="v-pills-zilliqua-btc-tabContent">
                <div class="tab-pane fade show active" id="v-pills-zilliqua-btc-deposit" role="tabpanel" aria-labelledby="v-pills-zilliqua-btc-deposit-tab">
                  <h6 class="text-uppercase">REMAINING TO VIP $3000</h6>
                  <p>Details - <a href="" class="crypt-up">Get VIP Now</a></p>
                  <form class="deposit-form">
                    <div class="crypt-radio-boxed">
                      <input type="radio" value="30000" (click)="setAmount($event)" name="payment-amount" id="payment-btc-amount1" class="payment-amount">
                      <label for="payment-btc-amount1">$ 30000 <img src="/assets/images/vip.svg" width="40" alt=""></label>
                      <div class="check"></div>
                    </div>
                    <div class="crypt-radio-boxed">
                      <input type="radio" name="payment-amount" (click)="setAmount($event)" value="20000" id="payment-btc-amount2" class="payment-amount"><label for="payment-btc-amount2">$ 20000 <img src="/assets/images/vip.svg" width="40" alt=""></label>
                      <div class="check"></div>
                    </div>
                    <div class="crypt-radio-boxed">
                      <input type="radio" name="payment-amount" (click)="setAmount($event)" value="10000" id="payment-btc-amount3" class="payment-amount"><label for="payment-btc-amount3">$ 10000 <img src="/assets/images/vip.svg" width="40" alt=""></label>
                      <div class="check"></div>
                    </div>
                    <div class="crypt-radio-boxed">
                      <input type="radio" name="payment-amount" (click)="setAmount($event)" value="5000" id="payment-btc-amount4" class="payment-amount"><label for="payment-btc-amount4">$ 5000 </label>
                      <div class="check"></div>
                    </div>
                    <div class="crypt-radio-boxed">
                      <input type="radio" name="payment-amount" value="2000" (click)="setAmount($event)" id="payment-btc-amount5" class="payment-amount"><label for="payment-btc-amount5">$ 2000 </label>
                      <div class="check"></div>
                    </div>
                    <div class="crypt-radio-boxed">
                      <input type="radio" name="payment-amount" value="1000" (click)="setAmount($event)" id="payment-btc-amount6" class="payment-amount"><label for="payment-btc-amount6">$ 1000 </label>
                      <div class="check"></div>
                    </div>
                    <div class="form-group mt-2">
                      <select class="crypt-image-select" required>
                        <option value="">Choose A Payment Option</option>
                        <option value="1">Visa</option>
                        <option value="2">Master Card</option>
                        <option value="3">AMEX</option>
                      </select>
                    </div>
                    <div class="input-group input-text-select mb-3">
                      <div class="input-group-prepend">
                        <input style="height: auto" name="amount" placeholder="Amount" type="text" [(ngModel)]="amount" class="form-control crypt-input-lg">
                      </div>
                      <select class="custom-select" name="inputGroupSelect01">
                        <option value="1">USD</option>
                        <option value="2">GBP</option>
                        <option value="3">EUR</option>
                      </select>
                    </div>
                    <div class="text-center crypt-up mt-5 mb-5">
                      <p>You will approximately pay</p>
                      <h3>${{amount}}</h3>
                    </div>
                    <!--<a href="" class="crypt-button-red-full">Proceed To Payment</a>-->
                    <button (click)="proceedPayment()" class="crypt-button-green-full">Proceed To Payment</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="v-pills-zilliqua-btc-withdrawl" role="tabpanel" aria-labelledby="v-pills-zilliqua-btc-withdrawl-tab">
                  <h4 class="crypt-down">Online Transfer</h4>
                  <p><i class="pe-7s-info"></i> Online Transfer to Your Paypal Account</p>
                  <form>
                    <div class="form-group">
                      <input type="number" placeholder="Amount" (keyup)="validateWithdrawAmount()" class="form-control" name="amount" [(ngModel)]="withdrawAmount">
                      <label class="alert-danger" *ngIf="amountError">{{amountErrorMessage}}</label>
                      <!--<div class="input-group-append">-->
                        <!--<span class="input-group-text">USD</span>-->
                      <!--</div>-->
                    </div>
                    <!--<div class="input-group mb-3">-->
                      <!--<input type="text" placeholder="Bank Account Number" class="form-control" name="bank-account">-->
                      <!--<div class="input-group-append">-->
                        <!--<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Other Address</button>-->
                        <!--<div class="dropdown-menu">-->
                          <!--<a class="dropdown-item" href="#">234235234</a>-->
                          <!--<a class="dropdown-item" href="#">2343453453</a>-->
                          <!--<a class="dropdown-item" href="#">234234234234</a>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="name">
                      <label class="alert-danger" *ngIf="name.length < 1">Please Enter Valid Name</label>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
                      <!--<label class="alert-danger" *ngIf="emaill.length < 5">Enter Proper Email</label>-->
                    </div>
                    <!--<div class="form-group">-->
                      <!--<div class="form-group">-->
                        <!--<select class="form-control">-->
                          <!--<option>Country</option>-->
                          <!--<option>United States</option>-->
                          <!--<option>India</option>-->
                          <!--<option>Japan</option>-->
                          <!--<option>Korea</option>-->
                          <!--<option>China</option>-->
                        <!--</select>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<div class="form-check">-->
                        <!--<input class="form-check-input" type="checkbox" id="recipient-btc">-->
                        <!--<label class="form-check-label" for="recipient-btc">-->
                          <!--Add To recipient-->
                        <!--</label>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<a href="" class="crypt-button-red-full">Initiate Withdraw</a>-->
                    <button [disabled]="amountError" class="crypt-button-green-full" (click)="withdrawAmountQ()">Initiate Withdraw</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="v-pills-zilliqua-btc-history" role="tabpanel" aria-labelledby="v-pills-zilliqua-btc-history-tab">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Time</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Currency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">22:35:59</th>
                      <td class="crypt-down">0.000056</td>
                      <td>BTC</td>
                    </tr>
                    <tr>
                      <th scope="row">22:35:59</th>
                      <td>0.0000564</td>
                      <td>ETH</td>
                    </tr>
                    <tr>
                      <th scope="row">22:35:59</th>
                      <td>0.0000234</td>
                      <td>XHO</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
