<div style="margin-top: 65px;" class="container-fluid">
  <div class="row sm-gutters">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table table-striped crypt-table-market-cap mt-4">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="text-left pl-2">Name</th>
            <th scope="col">Target Cap</th>
            <th scope="col">Gathered Capital</th>
            <!-- <th scope="col">24 Hour Volume</th> -->
            <th scope="col">Change</th>
            <!-- <th scope="col">7 days</th> -->
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>1</th>
            <td class="text-left pl-2 font-weight-bold"><img src="assets/images/coins/btc.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">Bitcoin</a></td>
            <td>$239048209</td>
            <td>$4559</td>
            <td class="crypt-down"> -0.04%</td>
          </tr>
          <tr>
            <th>2</th>
            <td class="text-left pl-2 font-weight-bold"><img src="assets/images/coins/eth.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">Ethrium</a></td>
            <td>$239048209</td>
            <td>$4559</td>
            <td class="crypt-down"> -4.04%</td>
          </tr>
          <tr>
            <th>3</th>
            <td class="text-left pl-2 font-weight-bold"><img src="assets/images/coins/ltc.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">Litecoin</a></td>
            <td>$239048209</td>
            <td>$4559</td>
            <td class="crypt-up">3.04%</td>
          </tr>
          <tr>
            <th>4</th>
            <td class="text-left pl-2 font-weight-bold"><img src="assets/images/coins/btcc.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin">  <a href="index.html">
              BitCoin Cash
            </a></td>
            <td>$239048209</td>
            <td>$4559</td>
            <td class="crypt-down">-0.45%</td>
          </tr>
          <tr>
            <th>5</th>
            <td class="text-left pl-2 font-weight-bold"><img src="assets/images/coins/xrp.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">
              XRP
            </a></td>
            <td>$239048209</td>
            <td>$4559</td>
            <td class="crypt-up">6.04%</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 10px;" class="container-fluid">
  <div class="row sm-gutters">
    <div class="col-lg-5">
      <div class="crypt-boxed-area">
        <h6 class="crypt-bg-head"><b class="crypt-up">INVEST</b></h6>
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="crypt-buy-sell-form">
              <p>Buy <span class="crypt-up">BTC</span> <span class="fright">Available: <b class="crypt-up">20 BTC</b></span></p>
              <div class="crypt-buy">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Price</span>
                  </div>
                  <input type="text" class="form-control" placeholder="0.02323476" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text">BTC</span>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Amount</span>
                  </div>
                  <input type="number" class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text">BTC</span>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Total</span>
                  </div>
                  <input type="text" class="form-control" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text">BTC</span>
                  </div>
                </div>
                <div>
                  <p>Fee: <span class="fright">100%x0.2 = 0.02</span></p>
                </div>
                <div class="text-center mt-5 mb-5 crypt-up">
                  <p>You will approximately pay</p>
                  <h4>0.09834 BTC</h4>
                </div>
                <div class="menu-green">
                  <a href="" class="crypt-button-green-full">INVEST</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div>
        <div class="crypt-market-status">
          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="#closed-orders"  class="active" data-toggle="tab">Invested E-Holes</a></li>
              <li role="presentation"><a href="#active-orders" data-toggle="tab">Completed Investments</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="closed-orders">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Buy/sell</th>
                    <th scope="col">Price BTC</th>
                    <th scope="col">Amount BPS</th>
                    <th scope="col">Dealt BPS</th>
                    <th scope="col">Operation</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th>22:35:59</th>
                    <td class="crypt-up">Buy</td>
                    <td class="crypt-up">0.000056</td>
                    <td class="crypt-up">0.000056</td>
                    <td class="crypt-up">0.0003456</td>
                    <td>5.3424984</td>
                  </tr>
                  <tr>
                    <th>22:35:59</th>
                    <td class="crypt-down">Sell</td>
                    <td class="crypt-down">0.000056</td>
                    <td class="crypt-down">0.000056</td>
                    <td class="crypt-down">0.0003456</td>
                    <td>5.3424984</td>
                  </tr>
                  <tr>
                    <th>22:35:59</th>
                    <td class="crypt-up">Buy</td>
                    <td class="crypt-up">0.000056</td>
                    <td class="crypt-up">0.000056</td>
                    <td class="crypt-up">0.0003456</td>
                    <td>5.3424984</td>
                  </tr>
                  <tr>
                    <th>22:35:59</th>
                    <td class="crypt-down">Sell</td>
                    <td class="crypt-down">0.000056</td>
                    <td class="crypt-down">0.000056</td>
                    <td class="crypt-down">0.0003456</td>
                    <td>5.3424984</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane" id="active-orders">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Buy/sell</th>
                    <th scope="col">Price BTC</th>
                    <th scope="col">Amount BPS</th>
                    <th scope="col">Dealt BPS</th>
                    <th scope="col">Operation</th>
                  </tr>
                  </thead>
                </table>
                <div class="no-orders text-center">
                  <img src="assets/images/empty.png" alt="no-orders">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
