<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="cryptorio-forms cryptorio-forms-dark text-center pt-5 pb-5">
        <div class="logo">
          <img src="images/logo.png" alt="logo-image">
        </div>
        <h3 class="p-4">Welcome To Login</h3>
        <div class="cryptorio-main-form">
          <form action="" class="text-left">
            <label for="name">Account Name</label>
            <input type="text" id="name" name="name" placeholder="Your name" [(ngModel)]="name">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Please Input Your Password">

            <input [disabled]="name == '' || name == null || name == undefined || password == '' || password == null" type="submit" (click)="logIn()" value="Log In" class="crypt-button-red-full">
          </form>
          <p class="float-left"><a routerLink="/sign-up">Sign Up</a></p>
          <p class="float-right"><a href="forgot.html">Forgot Password</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
