<div style="margin-top: 65px;" class="container-fluid">
  <div class="row sm-gutters">
    <div class="col-lg-6">
      <div class="table-responsive">
        <table class="table table-striped crypt-table-market-cap mt-4">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col" class="text-left pl-2">Completed In</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Completed Amount</th>
            <!-- <th scope="col">24 Hour Volume</th> -->
            <!--<th scope="col">Type</th>-->
            <!-- <th scope="col">7 days</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ehole of activeEholeArray">
            <th>{{ehole.id}}</th>
            <td class="text-left pl-2 font-weight-bold"><img src="assets/images/coins/btc.png" width="20" class="pr-1 crypt-market-cap-logo" alt="coin">{{ehole.completionDate}}</td>
            <td>{{ehole.totalAmount}}</td>
            <td>{{ehole.completedAmount}}</td>
            <!--<td class="crypt-down"> -0.04%</td>-->
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row sm-gutters" style="margin-top: 15px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <button type="reset" class="btn btn-primary">Create New E-Hole</button>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="design" for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="dark">
              </div>
              <div class="form-group col-md-6">
                <label class="design" for="value">Value</label>
                <input type="number" class="form-control" id="value" (keyup)="checkAmount()" placeholder="Value" name="dark" [(ngModel)]="amount">
                <label *ngIf="amountError" class="bg-danger">{{amountErrorMessage}}</label>
              </div>
            </div>
              <div class="form-row">
                <section class="dark col-md-12">
                  <label>
                    <input class="inputX" type="radio" name="dark" value="0" checked (click)="seletEholeType($event)">
                    <span class="design"></span>
                    <span class="text">One Hour E-Wallet</span>
                  </label>

                  <label>
                    <input class="inputX" type="radio" value="1" name="dark" (click)="seletEholeType($event)">
                    <span class="design"></span>
                    <span class="text">One Day E-Wallet</span>
                  </label>

                  <label>
                    <input class="inputX" type="radio" value="2" name="dark" (click)="seletEholeType($event)">
                    <span class="design"></span>
                    <span class="text">One Week E-Wallet</span>
                  </label>

                </section>
              </div>
            <br>
            <button [disabled]="amountError" (click)="createEhole()" type="submit" class="btn btn-primary">Create</button>
          </form>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 10px;" class="container-fluid">
  <div class="row sm-gutters">
    <div class="col-lg-5">
      <div class="crypt-boxed-area">
        <h6 class="crypt-bg-head"><b class="crypt-up">INVEST</b></h6>
        <div class="row no-gutters">
          <div *ngIf="selectedEhole != null && selectedEhole != undefined" class="col-md-12">
            <div class="crypt-buy-sell-form">
              <p>E_Wallet  <span class="crypt-up">
                <select (change)="selectEhole($event.target.value)">
                  <option *ngFor="let obj of activeEholeArray" [value]="obj.id">{{obj.id}}</option>
                </select>
              </span> <span class="fright">Available: <b class="crypt-up">{{selectedEhole.totalAmount - selectedEhole.completedAmount}} USD</b></span></p>
              <div class="crypt-buy">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Filled</span>
                  </div>
                  <input type="text" class="form-control" [placeholder]="selectedEhole.completedAmount" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text">USD</span>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Amount</span>
                  </div>
                  <input type="number" class="form-control" [placeholder]="selectedEhole.totalAmount" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text">USD</span>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Purchase</span>
                  </div>
                  <input type="number" class="form-control" (keyup)="validatePurchaseAmount($event.target.value)" [(ngModel)]="purchaseAmount">
                  <div class="input-group-append">
                    <span class="input-group-text">USD</span>
                  </div>
                </div>
                <label class="btn-danger" *ngIf="errorPurchace">Not valid!!</label>
                <div>
                  <p>Fee: <span class="fright">0.02 USD</span></p>
                </div>
                <div class="text-center mt-5 mb-5 crypt-up">
                  <p>You will approximately pay</p>
                  <h4>{{purchaseAmount}}</h4>
                </div>
                <div class="menu-green">
                  <button [disabled]="errorPurchace" (click)="invest()" class="crypt-button-green-full">INVEST</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div>
        <div class="crypt-market-status">
          <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="#closed-orders"  class="active" data-toggle="tab">Expired E-Holes</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="closed-orders">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Buy/sell</th>
                    <th scope="col">Price BTC</th>
                    <th scope="col">Amount BPS</th>
                    <th scope="col">Dealt BPS</th>
                    <th scope="col">Operation</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th>22:35:59</th>
                    <td class="crypt-up">Buy</td>
                    <td class="crypt-up">0.000056</td>
                    <td class="crypt-up">0.000056</td>
                    <td class="crypt-up">0.0003456</td>
                    <td>5.3424984</td>
                  </tr>
                  <tr>
                    <th>22:35:59</th>
                    <td class="crypt-down">Sell</td>
                    <td class="crypt-down">0.000056</td>
                    <td class="crypt-down">0.000056</td>
                    <td class="crypt-down">0.0003456</td>
                    <td>5.3424984</td>
                  </tr>
                  <tr>
                    <th>22:35:59</th>
                    <td class="crypt-up">Buy</td>
                    <td class="crypt-up">0.000056</td>
                    <td class="crypt-up">0.000056</td>
                    <td class="crypt-up">0.0003456</td>
                    <td>5.3424984</td>
                  </tr>
                  <tr>
                    <th>22:35:59</th>
                    <td class="crypt-down">Sell</td>
                    <td class="crypt-down">0.000056</td>
                    <td class="crypt-down">0.000056</td>
                    <td class="crypt-down">0.0003456</td>
                    <td>5.3424984</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
